body, html {
    height: 100%;
    margin: 0;
  }
  .container {
    height: 100%;
  }
 .bg {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
 }

 /* Adding image to each div */
  .image1 {
    background-image: url();
  }
  .image2 {
    background-image: url();
  }
  .image3 {
    background-image: url();
  }
  .image4 {
    background-image: url();
  }
  .text {
     font-size: 30px;
     top: 30%;
     height: 50%;
     left: 30%;
     padding: 16px;
     background-color: rgba(125,145,244,0.4);
     color: white;
     width: 100%;
     text-align: center;
     
  }