body, html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
  }
  .container {
    height: 100%;
  }
 .bg {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
 }

 /* Adding image to each div */
  .image1 {
    background-image: url(./images/waterfall\ \(1\)back\ .jpg);
  }
  .image2 {
    background-image: url(./images/ian-mcgrory-back.jpg);
  }
  .image3 {
    background-image: url(./images/waterfall\ back.jpg);
  }
  .image4 {
    background-image: url(./images/waterfall\ \(3\).jpg);
  }
  .image5 {
    background-image: url(./images/birger-strahl-Suaoofu6DXM-unsplash.jpg);
  }
  .image6 {
    background-image: url(./images/girafe-g14dd9b2c6_1920.jpg);
  }
  .text1 {
     font-size: 17px;
     top: 30%;
     height: 50%;
     left: 30%;
     padding: 16px;
     background-color: rgba(224, 226, 235, 0.4);
     width: 100%;
     text-align: center;
     height: 50%;
     background-position: center;
     text-decoration: black;
     align-items: center;
    justify-content: center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
pre {
  font-family: monospace;
  font-size: 1em;
  background-color: #f5f5f5;
  padding: 1em;
  overflow: auto;
 text-align: justify;
  left: 0%;
  right: 0%;
}